body
{
    min-width: 800px;
}

.grid-stack
{
	top: 60px;
	left: 20px;
	right: 20px;
	bottom: 20px;
  min-width: 400px;
  min-height: 300px;
  position: absolute;
}

.grid-stack.border {
	border: 4px dashed #000;
}

.grid-stack-item-content
{
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 10px #000;
    border-radius: 10px;
    padding: 20px;
}

.grid-stack-item-header
{
  display: block;
}

.grid-stack-item-header button
{
  float: right;
    color: #000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font: bold 10px arial;
}

.grid-stack-item.maximize {
  height: calc(100%) !important;
  width: calc(100%) !important;
  top: 0 !important;
  left: 0 !important;
  transform: translate3d(0, 0px, 0px) !important;
  z-index: 999;
}